html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

.navbar {
    z-index: 1030; /* Standardwert in Bootstrap */
}
    .navbar.sticky-top {
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
    margin-bottom: 60px;
    padding-top: 70px;
}

/* Modal-Titel */
.modal-title i {
    font-size: 1.25rem;
}

/* Formular-Labels */
.form-label i {
    font-size: 1rem;
}

/* Kursbeschreibung Überschrift */
.modal-body h5 {
    color: #0d6efd;
    font-weight: bold;
}

/* Icons in Kursinformationen */
.modal-body .row i {
    font-size: 1.25rem;
}

/* Abstand zwischen den Informationen */
.modal-body .row > div {
    display: flex;
    align-items: center;
}

.hover-image {
    transition: opacity 0.3s ease-in-out;
}

#fileList ul {
    list-style-type: none;
    padding-left: 0;
}

#fileList li {
    background: #f8f9fa;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

    #fileList li span {
        flex: 1;
        margin-right: 10px;
    }

    #fileList li button {
        margin-left: 10px;
    }
/* Tooltip-Styling */
#previewTooltip img {
    max-width: 200px;
    height: auto;
}

/* Profile Image for Course details page */
.profile-picture {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 75px;
    right: 15px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #fff;
}

/* Cookie Banner */
#cookie-banner {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f1f1f1;
    padding: 15px;
    text-align: center;
    display: none;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.3);
}

    #cookie-banner a {
        color: #3b3b3b;
        text-decoration: underline;
    }

    #cookie-banner button {
        margin-left: 15px;
        padding: 5px 10px;
        background-color: rgba(0,0,0,0.3);
        color: white;
        border: none;
        cursor: pointer;
    }

        #cookie-banner button:hover {
            background-color: #3b3b3b;
        }


/* Styling für den "Zurück nach oben"-Button */
.btn-back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    display: none; /* Standardmäßig ausgeblendet */
    z-index: 1000;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 0;
    font-size: 24px;
    text-align: center;
    line-height: 50px;
    opacity: 0.7;
    transition: opacity 0.3s, visibility 0.3s;
}

    .btn-back-to-top:hover {
        opacity: 1;
    }

/* Responsive Anpassungen */
@media (max-width: 768px) {
    html {
        font-size: 16px;
    }
}

@media (max-width: 576px) {
    .card-title {
        font-size: 1rem;
    }

    .card-text {
        font-size: 0.875rem;
    }
}
