html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Modal-Titel */
.modal-title i {
    font-size: 1.25rem;
}

/* Formular-Labels */
.form-label i {
    font-size: 1rem;
}

/* Kursbeschreibung Überschrift */
.modal-body h5 {
    color: #0d6efd;
    font-weight: bold;
}

/* Icons in Kursinformationen */
.modal-body .row i {
    font-size: 1.25rem;
}

/* Abstand zwischen den Informationen */
.modal-body .row > div {
    display: flex;
    align-items: center;
}

.hover-image {
    transition: opacity 0.3s ease-in-out;
}

#fileList ul {
    list-style-type: none;
    padding-left: 0;
}

#fileList li {
    background: #f8f9fa;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

    #fileList li span {
        flex: 1;
        margin-right: 10px;
    }

    #fileList li button {
        margin-left: 10px;
    }
/* Tooltip-Styling */
#previewTooltip img {
    max-width: 200px;
    height: auto;
}

/* Profile Image for Course details page */
.profile-picture {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 75px;
    right: 15px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #fff;
}

